body{
    margin: 0;
    background-image: url("../images/Vanusa.jpg");
}

section{
    margin: 0 5%;
}

button{
    height: 50%;
    width:100%;
    padding: 2%;
    background: #60163d;
 

 }

 nav{
    background: #d84353;
    margin: 0;
    padding: 2%;
    /* filter: drop-shadow(0 0 0.3em blue); */
    filter: drop-shadow(0px 1px 10px black);
    display: flex
    

}

footer nav{
    padding: 1%;
}
footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
}
ul{
    margin: 0;
}

.tabs, .slogan{
    margin-right: 1%;
    
}
#logo, #copyright{
    margin-left: 1%;
}


#logo, #copyright{
    margin-right: auto;
}

/* ==========stats */



.progress{
    width: 100%;
    background: #60163d;
    ;
    text-align: center;
}

