body{
    margin: 0;
}

button{
    height: 50%;
    width:100%;
    padding: 2%;
    background: grey;
 

 }

 nav{
    background: grey;
    margin: 0;
    padding: 2%;
    
}

footer nav{
    padding: 1%;
}
footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
}
ul{
    margin: 0;
}
li{
    display: inline;
}
